.div_box {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}

.movie_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 50%;
  font-weight: 900;
  margin: 20px 10px;
  margin-bottom: 70px;
  border-radius: 5px;
  box-shadow: 0 13px 27px -5px;
  padding: 20px;
  flex-direction: column;
}

.movie_img {
  justify-content: center;
  border-radius: 5px;
}

.movie_title {
  font-weight: 900;
}

.link {
  text-decoration: none;
  color: black;
}
